<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC
    "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN"
    "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg.dtd">
<html xml:lang='en' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/1999/xhtml'>
<head><meta content='application/xhtml+xml;charset=utf-8' http-equiv='Content-type' /><title></title></head>
<body><p>
  <strong>Parking</strong>:
  Attendees can park in 'Structure D' which is closest to
  the <a href="http://web-app.usc.edu/maps/?id=8&cat=Residential">Davidson
  Center</a> .  The daily rate is $10.00.
  
  <p>
    Alternatively people from the Health Science Campus can take the
    shuttle to the main campus.  Look at the schedule for Intercampus
    Service from HSC to
    UPC <a href="http://scampus.usc.edu/usc-bus-services/">here</a>. We
    recommend taking the 7AM shuttle on the first day, especially if
    you have not been to Davidson Center before.

  <p>
  <strong>Note:</strong>
 Attendees are responsible for paying for parking. Registration fees
 don't include parking. 

</p></body></html>
